.form_login {
  margin-top: 300px;
  text-align: center;
  justify-content: center;
}

.password {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login {
  justify-content: center;
  text-align: center;
}

.register {
  text-align: center;
  margin-top: 10px;
}
