.heading {
  position: absolute;
  width: 135px;
  height: 54px;
  left: 355px;
  top: 78px;
}

.heading1 {
  /* Heading L */

  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: -1.125px;

  /* 08 */

  color: #0c0e16;
}

.heading2 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height, or 115% */

  letter-spacing: -0.1px;

  /* 06 */

  color: #888eb0;
}

.filter {
  position: absolute;
  width: 117.46px;
  height: 15px;
  left: 777px;
  top: 80px;
}

.new_invoice {
  position: absolute;
  width: 135px;
  height: 15px;
  left: 977px;
  top: 80px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height, or 100% */

  letter-spacing: -0.25px;

  color: #ffffff;
}
