.empty_state {
  position: absolute;
  width: 241.34px;
  height: 342px;
  left: 599px;
  top: 272px;
}

.empty-picture {
  left: 300px;
}

.empty_text1 {
  position: absolute;
  width: 207px;
  height: 22px;
  left: calc(50% - 207px / 2 + 0.83px);
  top: calc(50% - 22px / 2 + 106px);
  margin-top: -20px;

  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: -0.75px;

  /* 08 */

  color: #0c0e16;
}

.empty_text2 {
  position: absolute;
  width: 193px;
  height: 31px;
  left: calc(50% - 193px / 2 - 0.17px);
  top: calc(50% - 31px / 2 + 155.5px);
  margin-top: -20px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  /* or 115% */

  text-align: center;
  letter-spacing: -0.1px;

  /* 06 */

  color: #888eb0;
}
